section.title{
    width: 100%; 
    background-color: #fff;
    display: flex;
    justify-content: center;
}

section.title > div.wrap {
    padding-top: 16px;
    display: flex;
    justify-content: left;
    width: 720px;
}

section.title figure {
    width: 80px; height: 114px;
    border: 1px solid rgb(181, 20, 101);
    margin: 0 16px 0 0;
}

section.title > div.wrap > div.content > h1 {
    font-size: 18px;
}

section.title > div.wrap > div.content > h1, p {
    margin-top: 0;
    margin-bottom: 8px;
}

section.title > div.wrap > div.content > p.info > span.viewcount {
    font-size: 12px;
    color: grey;
}

section.tap {
    background-color: #fff;
}

section.tap > div.wrap {
    display: block;
    margin: 0 auto;
    width: 720px;
}

section.tap > div.wrap > a {
    display: inline-block; 
    width: 32%; 
    height: 56px; 
    line-height: 56px; 
    box-sizing: border-box; 
    border-bottom: 3px solid transparent; 
    text-align: center;
    color: black;
}

section.tap > div.wrap > a.active {
    border-bottom-color: rgb(181, 20, 101);
    color: rgb(181, 20, 101); font-weight: bold;
}

section.tap > div.wrap > a > span.teamcount, span.commentcount {
font-size: 8px;
color: orange;
} 

iframe {
    width: 720px;
    height: 2000px;
    display: block;
    margin: 16px auto;
}

footer div {
    text-align: center;
    word-spacing: 30px;
    margin-bottom: 30px;
}

footer div a {
    color: black;
}