article > a {
    padding: 8px 12px;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

article > div {
    color: grey;
    margin: 4px 12px;
}

article li {
    background-color: rgb(255, 255, 255);
    padding: 24px;
    margin: 1px;
}

article li > a {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.main_info {
    margin: 24px 12px;
}

nav p {
    margin-top: 20px;
}

.list_club, .list_activity, .list_contest, .list_Employ {
    list-style: none;
    padding: 0px 12px;
}

.list_club p, .list_activity p, .list_contest p, .list_Employ p {
    color: grey;
    margin-top: 10px;
}

.main_info {
    display: flex;
    justify-content: center;
}




.list_club li, .list_activity li, .list_contest li, .list_Employ li {
    position: relative;
}

.dday {
    position: absolute;
    right: 20px;
}

.view_count{
    position: absolute;
    right: 20px
}




.main_login {
    background-color: #fff;
    width: 320px;
    height: 110px;
    font-size: 19px;
    padding: 24px 14px;
}

.main_login ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.main_login ul li{
    background-color: rgb(221, 52, 69);
    border-radius: 5px;
    padding : 14px 40px;
    margin: 3px;
}

.main_login ul li a{
    font-weight: bold;
    color: aliceblue;
}



.main_community {
    list-style:none;
    padding: 0;
    margin-top: 10px;
}

.main_community li {
    background-color: #fff;
    padding: 24px;
    margin: 1px;
}

.main_community li a {
    color: black;
    font-size: 20px;
}



.main_post {
    background-color: #fff;
    width: 320px;
    height: 110px;
    font-size: 19px;
    padding: 24px 14px;
    margin-top: 12px;
}

.main_post ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.main_post ul li{
    background-color: rgb(221, 52, 69);
    border-radius: 5px;
    padding : 14px 80px;
    margin: 3px;
}

.main_post ul li a{
    font-weight: bold;
    color: aliceblue;
}



.main_event {
    width: 350px;
    height: 350px;
    margin: 24px 12px;
}

.main_event > p {
    padding: 12px 16px;
    margin: 0;
    background-color: white;
    display: flex;
    position: relative;
}

.small_event {
    position: absolute;
    right: 15px;
    border: 1px solid grey;
    padding: 0px 4px;
    border-radius: 5px;
    color: grey;
    font-size: small;
}

.event_picture {
    width: 100%;
    height: 180px;

}

.main_event > figure {
    margin: 0;
    background-color: white;
    padding: 12px 16px;
    
}

figure a {
    border-radius: 5px;
    background-color:  rgb(221, 52, 69);
    color: aliceblue;
    padding: 10px;
    margin: 12px 0px 0px;
    font-weight: bold;
    display: block;
    text-align: center;
}

/*텍스트 길면 ...으로 나오게*/
.main_event h3, p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

footer div {
    text-align: center;
    word-spacing: 30px;
}

footer div a {
    color: black;
}












