<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: header"></head>

<body class="bg-light">

	<nav th:replace="fragments.html :: main-nav"></nav>
	<div class="container">
		<div class="py-5 text-center">
			<h2>모터디</h2>
		</div>

		<footer th:replace="fragments.html :: footer"></footer>
	</div>
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>